:3000 {
	root * /srv
	encode zstd gzip

	@api path /api/*
	handle @api {
		reverse_proxy http://platform-api:8080
	}

	redir /favicon.ico /favicon.svg 302

	@immutableAssets path_regexp immutableAssets ^/(?:_app/.*\.(?:js|css|woff2|woff|ttf|eot)|.*\.(?:js|css|woff2|woff|ttf|eot))$
	header @immutableAssets Cache-Control "public, max-age=31536000, immutable"

	@imageAssets path_regexp imageAssets ^/.*\.(?:jpg|jpeg|png|gif|ico|svg|webp)$
	header @imageAssets Cache-Control "public, max-age=31536000"

	@htmlRoutes path_regexp htmlRoutes ^(?:/$|/[^.]*$|/.*/[^.]*$)
	header @htmlRoutes Cache-Control "public, max-age=0, must-revalidate"

	try_files {path} {path}/ {path}.html /200.html
	file_server
}
